<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

  <link rel="stylesheet" href="/styles/nav.css" type="text/css" />
  <link rel="stylesheet" href="/styles/contributions.css" type="text/css" />
  <script type="text/javascript" src="/routes/contributions.js"></script>

  <title>My Contributions</title>
</head>

<body>
  <%- include('partials/_header') %>
    <main>
      <h1>My Contributions</h1>
      <h5>Total Number of Contributions: <%= contributions.length %>
      </h5>
      <section id="contribution-list">
        <% for(let contrib of contributions) { %>
          <table>
            <thead>
              <th>Map ID</th>
              <th>Map Name</th>
            </thead>
            <tbody>
              <tr>
                <td>
                  <%= contrib.map_id %>
                </td>
                <td>
                  <%= contrib.title %>
                </td>
              </tr>
            </tbody>
          </table>
          <!-- <div class="contributions-table">
            <h5>
              <%= contrib.map_id %>
            </h5>
            <h5>
              <%= contrib.title %>
            </h5>
          </div> -->
          <% } %>
      </section>
    </main>
</body>

</html>
